<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.feiyu.upms.biz.mapper.MenuMapper">

    <select id="getMenuByRoleId" resultType="com.feiyu.upms.api.entity.Menu">
        SELECT t1.* FROM sys_menu t1 LEFT JOIN sys_role_menu t2 on t1.id = t2.menu_id where t2.role_id = #{roleId}
    </select>
</mapper>
